## Время для различных функций роста O(n)

In [15]:
import math
t = [1000, 60000, 3600000, 86400000, 2592000000, 31104000000, 3110400000000]
lg_n = [math.log(n) for n in t]
sqrt_n = [math.sqrt(n) for n in t]
n = [n for n in t]
n_lg_n = [n*math.log(n) for n in t]
n2 = [n**2 for n in t]
n3 = [n**3 for n in t]

In [17]:
import pandas as pd
table_On = pd.DataFrame([lg_n, sqrt_n, n, n_lg_n, n2, n3], 
                        index=['lg_n', 'sqrt_n', 'n', 'n_lg_n', 'n2', 'n3'], 
                        columns=['секунда', 'минута', 'час', 'день', 'месяч', 'год', 'век'])
table_On

,секунда,минута,час,день,месяч,год,век
lg_n,6.907755e+00,1.100210e+01,15.096444,18.274498,21.675696,24.160602,28.765772
sqrt_n,3.162278e+01,2.449490e+02,1897.366596,9295.160031,50911.688245,176363.26148,1763632.614804
n,1.000000e+03,6.000000e+04,3600000,86400000,2592000000,31104000000,3110400000000
n_lg_n,6.907755e+03,6.601260e+05,54347199.852335,1578916647.398098,56183403035.21125,751491372857.541016,89473058632251.453125
n2,1.000000e+06,3.600000e+09,12960000000000,7464960000000000,6718464000000000000,967458816000000000000,9674588160000000000000000
n3,1.000000e+09,2.160000e+14,46656000000000000000,644972544000000000000000,17414258688000000000000000000,30091839012864000000000000000000,30091839012864000000000000000000000000